<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>c:/log/sample-slf4j-log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyyMMdd HHmmssSSS} [%-5level] %logger{32} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ALERT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>c:/log/sample-slf4j-alert.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyyMMdd HHmmssSSS} [%-5level] %logger{32} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyyMMdd HHmmssSSS} [%-5level] %logger{32} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.example" level="INFO" />

	<root>
		<level value="OFF" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ALERT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
